{% extends 'base.html' %}

{% block content %}


    <div class="container">
        <h1>Welcome</h1>
        <p>
            You can log in here!
        </p>
        <h2>login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
            <p>---OR---</p>
            <a href="{% url 'social:begin' 'google-oauth2' %}">
                <button type="button" name="button" class="btn btn-danger">Google+</button>
            </a>
        </form>
    </div>

{% endblock %}
