.body{
    background: red;
}
img {width:100%;}
.row{
    width: 1000px;
}
.like{
    margin-top: -4%;
}
.card-body{
    position: relative;
    width: 20px;
}
.card{
    position: relative;
    width: 20px;
}
/*.dislike{*/
    /*margin-top: -4%;*/
/*}*/